<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lamborghiniTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED000B971E4C478600D7FF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED000BB01E4C478600D7FF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED000BBB1E4C478600D7FF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
