<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPlus</key>
	<array>
		<dict>
			<key>frame1</key>
			<string>{{417,190},{172,113}}</string>
			<key>frame2</key>
			<string>{{375,190},{172,113}}</string>
			<key>frame3</key>
			<string>{{320,150},{172,113}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Benz</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>1.2</real>
			<key>repeatCount</key>
			<integer>1</integer>
			<key>animationDelay</key>
			<integer>2</integer>
			<key>allAnimationDuration</key>
			<integer>7</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>startPoint</key>
			<array>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{200,200}</string>
				<string>{200,200}</string>
			</array>
			<key>endPoint</key>
			<array>
				<string>{122,190}</string>
				<string>{122,190}</string>
				<string>{121,190}</string>
				<string>{120,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint1</key>
			<array>
				<string>{101,190}</string>
				<string>{101,190}</string>
				<string>{100,190}</string>
				<string>{99,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint2</key>
			<array>
				<string>{74,150}</string>
				<string>{74,150}</string>
				<string>{73,150}</string>
				<string>{72,150}</string>
				<string>{-220,170}</string>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{2,34},{55,20}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Benzlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{-120,34},{177,95}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Benzhighbeam</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{40,0},{133,90}}</string>
			<key>rotate</key>
			<false/>
			<key>name</key>
			<string>BenzCarlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{78,56},{44,44}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>0.8866197723675801</real>
			<key>name</key>
			<string>Benzwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{157,66},{20,20}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>1.13661977236758</real>
			<key>name</key>
			<string>Benzwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
