<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPlus</key>
	<array>
		<dict>
			<key>frame1</key>
			<string>{{417,190},{191,85}}</string>
			<key>frame2</key>
			<string>{{375,190},{191,85}}</string>
			<key>frame3</key>
			<string>{{320,150},{191,85}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>BMW</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>1.2</real>
			<key>repeatCount</key>
			<integer>1</integer>
			<key>animationDelay</key>
			<integer>2</integer>
			<key>allAnimationDuration</key>
			<integer>7</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>startPoint</key>
			<array>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{200,200}</string>
				<string>{200,200}</string>
			</array>
			<key>endPoint</key>
			<array>
				<string>{113,190}</string>
				<string>{113,190}</string>
				<string>{112,190}</string>
				<string>{111,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint1</key>
			<array>
				<string>{92,190}</string>
				<string>{92,190}</string>
				<string>{91,190}</string>
				<string>{90,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint2</key>
			<array>
				<string>{64,150}</string>
				<string>{64,150}</string>
				<string>{63,150}</string>
				<string>{62,150}</string>
				<string>{-220,170}</string>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{12,34},{71,10}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>BMWlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{-110,32},{194,97}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>BMWhighbeam</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0,-8},{199,73}}</string>
			<key>rotate</key>
			<false/>
			<key>name</key>
			<string>BMWCarlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{84,42.3},{34,34}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>0.866619772367581</real>
			<key>name</key>
			<string>BMWwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{168,35.5},{24,24}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>1.086619772367581</real>
			<key>name</key>
			<string>BMWwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
