<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPlus</key>
	<array>
		<dict>
			<key>frame1</key>
			<string>{{417,190},{208,81}}</string>
			<key>frame2</key>
			<string>{{375,190},{208,81}}</string>
			<key>frame3</key>
			<string>{{320,150},{208,81}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Ferrari</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>1.2</real>
			<key>repeatCount</key>
			<integer>1</integer>
			<key>animationDelay</key>
			<integer>2</integer>
			<key>allAnimationDuration</key>
			<integer>7</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>startPoint</key>
			<array>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{200,200}</string>
				<string>{200,200}</string>
			</array>
			<key>endPoint</key>
			<array>
				<string>{104,190}</string>
				<string>{104,190}</string>
				<string>{103,190}</string>
				<string>{102,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint1</key>
			<array>
				<string>{83,190}</string>
				<string>{83,190}</string>
				<string>{82,190}</string>
				<string>{81,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint2</key>
			<array>
				<string>{56,150}</string>
				<string>{56,150}</string>
				<string>{55,150}</string>
				<string>{54,150}</string>
				<string>{-220,170}</string>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{12,35},{77,17}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Ferrarilight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{-105,30},{193,99}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Ferrarihighbeam</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{2,-3},{199,73}}</string>
			<key>rotate</key>
			<false/>
			<key>name</key>
			<string>FerrariCarlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{96,40},{32,32}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>0.836619772367581</real>
			<key>name</key>
			<string>Ferrariwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{177,32},{24,24}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>0.986619772367581</real>
			<key>name</key>
			<string>Ferrariwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
