<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPlus</key>
	<array>
		<dict>
			<key>frame1</key>
			<string>{{417,190},{155,101}}</string>
			<key>frame2</key>
			<string>{{417,190},{155,101}}</string>
			<key>frame3</key>
			<string>{{320,150},{155,101}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>JeepCherokee</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>1.2</real>
			<key>repeatCount</key>
			<integer>1</integer>
			<key>animationDelay</key>
			<integer>2</integer>
			<key>allAnimationDuration</key>
			<integer>7</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>startPoint</key>
			<array>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{417,200}</string>
				<string>{200,200}</string>
				<string>{200,200}</string>
			</array>
			<key>endPoint</key>
			<array>
				<string>{131,190}</string>
				<string>{131,190}</string>
				<string>{130,190}</string>
				<string>{129,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint1</key>
			<array>
				<string>{110,190}</string>
				<string>{110,190}</string>
				<string>{109,190}</string>
				<string>{108,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint2</key>
			<array>
				<string>{82,150}</string>
				<string>{82,150}</string>
				<string>{81,150}</string>
				<string>{80,150}</string>
				<string>{-220,170}</string>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0,34},{80,25}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>JeepCherokeelight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{-117,34},{194,97}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>JeepCherokeehighbeam</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0,0},{153,87}}</string>
			<key>rotate</key>
			<false/>
			<key>name</key>
			<string>JeepCherokeeCarlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{88,60},{34,34}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>1.086619772367581</real>
			<key>name</key>
			<string>JeepCherokeewheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{136,50},{24,24}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>1.25661977236758</real>
			<key>name</key>
			<string>JeepCherokeewheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
