<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPlus</key>
	<array>
		<dict>
			<key>frame1</key>
			<string>{{417,190},{196,69}}</string>
			<key>frame2</key>
			<string>{{375,190},{196,69}}</string>
			<key>frame3</key>
			<string>{{320,150},{196,69}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Lamborghini</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>1.2</real>
			<key>repeatCount</key>
			<integer>1</integer>
			<key>animationDelay</key>
			<integer>2</integer>
			<key>allAnimationDuration</key>
			<integer>7</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>startPoint</key>
			<array>
				<string>{417,190}</string>
				<string>{417,190}</string>
				<string>{417,160}</string>
				<string>{200,200}</string>
				<string>{200,200}</string>
			</array>
			<key>endPoint</key>
			<array>
				<string>{110,190}</string>
				<string>{110,190}</string>
				<string>{109,190}</string>
				<string>{108,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint1</key>
			<array>
				<string>{90,190}</string>
				<string>{90,190}</string>
				<string>{89,190}</string>
				<string>{88,190}</string>
				<string>{-230,230}</string>
			</array>
			<key>endPoint2</key>
			<array>
				<string>{62,150}</string>
				<string>{62,150}</string>
				<string>{61,150}</string>
				<string>{60,150}</string>
				<string>{-220,170}</string>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{7,25},{60,7}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Lamborghinilight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{-110,20},{187,101}}</string>
			<key>rotate</key>
			<false/>
			<key>radius</key>
			<string>0</string>
			<key>name</key>
			<string>Lamborghinihighbeam</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{-15,-8},{199,73}}</string>
			<key>rotate</key>
			<false/>
			<key>name</key>
			<string>LamborghiniCarlight</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.3</real>
			<key>repeatCount</key>
			<integer>3</integer>
			<key>animationDelay</key>
			<real>1.5</real>
			<key>isAlpalChangeAnimation</key>
			<true/>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{88,28},{32,32}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>0.836619772367581</real>
			<key>name</key>
			<string>Lamborghiniwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{173.5,26.5},{23,23}}</string>
			<key>rotate</key>
			<true/>
			<key>radius</key>
			<real>0.986619772367581</real>
			<key>name</key>
			<string>Lamborghiniwheel</string>
			<key>isHaveAnimation</key>
			<true/>
			<key>animationDuration</key>
			<real>0.8</real>
			<key>repeatCount</key>
			<integer>5</integer>
			<key>animationDelay</key>
			<integer>0</integer>
			<key>isAlpalChangeAnimation</key>
			<false/>
			<key>secondStarDaly</key>
			<real>3.5</real>
			<key>startPoint</key>
			<array/>
			<key>endPoint</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
